
.breadcrumb {
        background-color: white;
}
.mb-btn-disabled{
    opacity: .2;
    cursor: not-allowed;           
}

.nav.side-menu li{
    cursor: pointer; 
}
.fa-leafs{
    background: url('{{$asset}}gentella/images/prepaidGIF.gif') no-repeat center;
    background-size:     cover; 
    width: 48px;
    height: 42px;
}
.nav_menu{
    display: none;
}

body.nav-sm .container.body .left_col {

    background-color:#00B269;
}

.site_title {

    background-color: #00B269;
    height: 100%;
}

body.nav-sm ul.nav.child_menu {

    background: #00B269;
}

.nav.side-menu > li.active > a {

    background: #00B269;

}

.nav.side-menu > li.active {
    border-right:#00B269;
}

body.nav-sm .navbar.nav_title a i {
    filter: sepia(1);
}

body.nav-sm .navbar.nav_title a i:hover {
    filter: none;
}

                /*for other web*/

.nav.side-menu > li.active {
    border-right:#00B269;
}

  html, body {
height: 100%;
font: normal 14px/18px Noto Sans, Sans-Serif;
 /*      font: 400 25px/30px Alright Sans, Sans-Serif;*/
}


.text-bg{

    float:left;
}

.form-control::-moz-placeholder {
    color: black;
    opacity: 1;
}

/* entire container, keeps perspective */

#templar {
    font-family: Freestyle Script;
    background-color: transparent;
    font-size: 157%;
}

#templarLNO {
    color: white;
    font-size: 550%;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    background: #00B269;
    color: white;
}

.border-report{

    border: solid;
    border-color: white;
    background: gainsboro;
    padding-bottom: 21px;

}

.header-text-holder{

    background: rgba( 0, 178, 105 , 0.8); 
    width: 50%;
    color: white;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    float: right;
    width: 100%;
    margin-left: 50px;
    padding-left: 0%;
    margin-top: 71px;
    box-shadow: 10px 10px 5px #888888;
}

.magellan-logo{
    background: url('{{$asset}}gentella/images/logo.png') no-repeat center;
    width: 5%;
    height:5%;

}

.logo-holder{

    position: relative;
    top: 18px;
    right: 50px;
    text-align:right;
}

.full-page-bg{

    background: url('{{$asset}}gentella/images/fullpageimage.jpg') no-repeat center;
    background-size: cover;
}


.green{

    color:#9B59B6;

}

.flip-container, .front, .back {
    width: 100%;
    height: 170px;
}

.bgGreen{

    background-color: #00B269;
}

.btn-info {
    background-color: rgb(178, 0, 73);
    border-color: rgb(178, 0, 73);
    margin: 10px;
}

.btn-info:hover {
    background-color: #00B269;
    border-color: #00B269;
    margin: 10px;
}

button[type="submit"]{

    background-color:#00B269;
    border-color: #00B269;
    width: 100%;

}

button[type="button"]{

    background-color:#00B269;
    border-color: #00B269;

} 

button[type="button"]:hover, button[type="submit"]:hover  {

    background-color:#b20049;
    border-color: #b20049;

}

.pagination > .active > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #b20049;
    border-color: #b20049;
}

.img-user{

    width:50px;
    max-height:50px;
    border-radius:50% ;
    width: 50px;
    border: medium solid #b20049;

}


